:root{
    --psize:90px
}
@font-face {
   
    font-family: ir-sans;
    src: url(fonts/A-Iranian-Sans/Iranian-Sans.ttf) format('truetype');
}
@font-face {
    font-family: B-titr;
    src: url(fonts/B-Titr/B-Titr-Bold_0.ttf) format('truetype');
}
@font-face {
    font-family: m-m;
    src: url(fonts/vazir-font-v16.1.0/Vazir.ttf) format('truetype');
}
@font-face {
    font-family: m;
    src: url(fonts/Mj_Mandana/Mj_Mandana_0.TTF) format('truetype');
}

#s{
    margin-top: 25px;
    font-family: cursive;
    font-size: 30px;
}
.searchBar{
    width: 1200px;
    height: 100px;
    background-image: linear-gradient(to left, hsl(289, 39%, 56%), hsl(0, 0%, 100%),hsl(289, 39%, 56%));
    box-sizing: border-box;
    display: flex;
    margin: 0 auto;
}
.middle{
    width: 600px;
    height: inherit;
    margin: 0 auto;
    text-align: right;
    padding-top: 5px;
}
#sign{
    /*display: inline-block;*/
    width: 50px;
    height: 50px;
    background-image: url(icons8-login-50.png);
    background-size: contain;
    position: relative;
    top:20px;
    border-width: 0;
    border-radius: 100%;
    margin-left: 90px;
    margin-right: 40px;
}
#sign:hover{
    background-color: #ffdcdc;
    cursor: pointer;
}
#src:hover{
    background-color: #ffdcdc;
    cursor: pointer;
}
#src{
    width: 50px;
    height: 50px;
    background-image: url(icons8-search-60.png);
    background-size: contain;
    position: relative;
    top:-4px;
    border-width: 0;
    border-radius: 100%;
    
}
#tsrc{
    margin-top: 15px;
    width: 400px;
    height: 50px;
    border-radius: 10px;
    font-size: 20px;
    outline-width: 0;
}
#post{
    width: 1200px;
    display: block;
    text-align: right;
    height: 50px;
    border-bottom: 2px solid #000;
    margin: 0 auto;
    font-family: ir-sans;
    direction: rtl;
}
.content{
    padding-top: 20px;
    width: 1200px;
    margin: 0 auto;
}
.blog{
    margin-top: 20px;
    display: flex;
    gap: 30px;
    height: fit-content;
    /*border-bottom: 4px solid #000000;*/
    padding-bottom: 20px;
}
.pick{
    width: 85vw;
    height: 900px;
    direction: rtl;
    border-right: 3px ridge black;
    padding-right: 5px;
    padding-top: 10px;
    font-family: ir-sans;
    font-weight: 600;
    text-decoration: none;
}

.pick span{
    font-weight: bold;
    color:goldenrod;
    text-decoration: none;
}


.status p{
    color:#454545;
    font-size: 19px;
    font-weight: 600;
    text-align: justify;
    height: var(--psize);
    overflow: hidden;
    text-overflow:ellipsis;
    width: 948px;
}

.comments{
    height: fit-content;
    /*border-bottom: 2px solid #000;*/
    padding-top: 30px;
    display: none;
}

.status button{
    border-width: 3px;
    border-color: white;
    border-style: solid;
    border-radius: 20px;
    outline: 2px solid #ff9543;
    font-size: 20px;
    width: 10rem;
    height: 4rem;
    background-color: #ff9543;
    margin: 0 43%;
    font-family: m;
}

.status button:hover {
    transition: all 0.5s ease;
    cursor: pointer;
    background-color: #da813d;
}

.status button:active{
    background-color: #da4f3d;
}

.status{
    height: 700px;
    direction: rtl;
    padding-right: 20px;
    padding-top: 10px;
    font-family: m-m;

}

.status h1{
    margin: 10px 0 0 0 ;
    padding-right: 20px;
    display: block;
    font-family: B-titr;
    font-size: 60px;
    background-color: goldenrod;
    border-radius: 20px;
    /*color:goldenrod*/
}
#pic{
    display: inline-block;
    width: 100%;
    height: 500px;
    border: 3px ridge black;
    border-radius: 10px;
    background-size:contain;

}

#pro{
    /*position: relative;
    top: 20px;*/
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border-color: #995353;
    border-width: 1.5px;
    border-style: solid;
    background-size: cover;
}

.p-comment{
    margin-top: 0;
    border-top: 2px ridge black;
    /*padding: 30px 0;*/
    margin-bottom: 40px;
}
.p-comment h3{
    margin-top:0;
    color:hsl(18, 53%, 50%);
    width: 600px;
    padding-bottom: 10px;
    padding-right: 10px;
    display: inline-block;
    margin-bottom: 20px;
    border-bottom: 2px ridge black;
    display: none;
    /*font-family: ir-sans;*/
}
.app{
    margin-top: 20px;
    display: flex;
}
.discription{
    font-family: m-m;
    color:#6a6a6a;
    font-size: 14px;
    font-weight: 500;
    margin-right: 50px;
}
.pages{
    margin-top: 40px;
    font-size: 30px;
    width: auto;
    text-align: center;

}
.pages a{
    width: 40px;
    height: 40px;
    display: inline-block;
    text-decoration: none;
    background-color: #eacb99;
    border-color: #e4b569;
    border-style: solid;
    border-width: 1.5px;
    color:#000
}
#pols{
    background-color: #99a7ea;
    border-color: #698ee4;
    color:#000
}
.latest{
    width: 1200px;
    height: fit-content;
    direction: rtl;
    background-color: hsla(40, 100%, 68%, 0.507);
    border-color: hsl(40, 100%, 68%);
    border-style: solid;
    border-width: 3px;
    margin: 10px auto;
    border-radius: 10px;
    padding: 10px;

}
.latest h3{
    font-size: 26px;
    font-family: B-titr;
}
.ops{
    display: flex;
    width: inherit;
    height: 100px;
    margin-right: 10px;


}
.ops img{
    width: 60px;
    height: 60px;
    border-color: #698ee4;
    border-width: 1.5px;
    border-style: solid;
    border-radius: 10px;
}
.ops h3{
    margin-right: 10px;
    font-size: 16px;
    font-family: m;
}
.pick a:hover,.latest a:hover{
    color:hsl(239, 81%, 42%)
}
.pick a, .latest a{
    text-decoration: none;
    color:#000;

}
.pop-up{
    width: 1195px;
    height: 140px;
    margin: 0 auto;
    background-color: hsla(92, 83%, 66%, 0.461);
    color:hsl(92, 56%, 35%);
    border-color: hsl(92, 83%, 66%);
    border-width: 3px;
    border-style: solid;
    font-size: 24px;
    font-family: m;
    text-align: center;
    align-content: center;
}