{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'index.css' %}">
</head>
<body>
    <div class="searchBar"> <span id="s">CatiraFlowers.Studio ♥</span>
        <div class="middle">
            <input type="text" name="src" id="tsrc">
            <button id="src"></button>
        </div>
        <button id="sign"></button>
    </div>
    <div id="post"><h1>صفحه اصلی > وبلاگ</h1></div>
    <div class="content">
        {{rdate}} vs {{ridate}}
        {% for i in post %}
        <div class="blog">
            <div class="pick">
                <p><span>ناشر: </span>{{i.publisher}}</p>
                <p><span>زمان انتشار: </span>{{i.date_modified}}</p>
                <p><span>بازدید کننده: </span>{{i.c_view}}</p>
            </div>
            <div class="status">
                <img src="{% static '1571774856481.jpg' %}" alt="Pic" id="pic"> 
                <h1>{{i.title}}</h1>
                <p>
                    {{i.disc}}
                </p>
                <a href="{% url 'single' ids=i.id %}"><button id="smore">مطالب بیشتر</button></a>
                <div class="comments">
                    <div class="p-comment">
                        <div class="app"><div><img src="{% static 'images2.jpg' %}" alt="Pro" id="pro"></div><div><h3> نام کاربری - 1403/4/3 </h3></div></div>
                        <div class="discription">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="ref"></div>
    <script src="{% static 'js/hrefRender.min.js' %}"></script>
</body>
</html>