{% load static %}
{% load Post_t %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'index.css' %}">
</head>
<body>
    <div class="searchBar"> <span id="s">CatiraFlowers.Studio ♥</span>
        <div class="middle">
            <form action="{% url 'search' %}" method="get">
                <input type="text" name="s" id="tsrc">
                <input type="submit" id="src"></input>
            </form>
        </div>
        <button id="sign"></button>
    </div>
    <div id="post"><h1>صفحه اصلی > وبلاگ</h1></div>
    <div class="content">
        {% for i in post %}
        <div class="blog">
            <div class="pick">
                <p><span>دسته‌بندی:</span>
                    {% for c in i.category.all %}
                    <a href="{% url 'category' name=c.name %}">{{c.name}}</a>{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </p>
                <p><span>ناشر: </span><a href="{% url 'publisher' namep=i.publisher %}">{{i.publisher}}</a></p>
                <p><span>زمان انتشار: </span>{{i.p_date|date:"Y/m/d"}}</p>
                <p><span>بازدید کننده: </span>{{i.c_view}}</p>
            </div>
            <div class="status">
                <img src="{{i.image.url}}" alt="Pic" id="pic"> 
                <h1>{{i.title}}</h1>
                <p>
                    {{i.disc|truncatewords:40}}
                </p>
                <a href="{% url 'single' ids=i.id %}"><button id="smore">مطالب بیشتر</button></a>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="ref"></div>
    <script src="{% static 'js/hrefRender.min.js' %}"></script>
</body>
</html>