{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'single.css' %}">
</head>

<body>
    <div class="searchBar"> <span id="s">CatiraFlowers.Studio ♥</span>
        <div class="middle">
            <input type="text" name="src" id="tsrc">
            <button id="src"></button>
        </div>
        <button id="sign"></button>
    </div>
    <div id="post">
        {% if nextp != -1 %}
        <a href="{% url 'single' ids=nextp.id %}">
            <div id="prev">
                <img src="{{nextp.image.url}}" alt="prev">
                <div>
                    <p>پست قبلی " {{prevp.image}} "</p>
                    <h3>{{nextp.title}}</h3>
                </div>
            </div>
        </a>
        {% else %}
        <div class="mean"></div>
        {% endif %}
        {% if prevp != -2 %}
        <a href="{% url 'single' ids=prevp.id %}">
        <div id="next">
            <img src="{{prevp.image.url}}" alt="next">
            <div>
                <p>پست بعدی</p>
                <h3>{{prevp.title}}</h3>
            </div>
        </div>
        </a>
        {% else %}
        <div class="mean"></div>
        {% endif %}
    </div>
    <div class="content">
        <div class="blog">
            <div class="pick">
                <div id="stiky">
                    <p><span>دسته‌بندی:</span>
                        {% for c in post.category.all %}
                        {{c.name}}{% if not forloop.last %} ،{% endif %}
                        {% endfor %}
                    </p>
                    <p><span>ناشر: </span>{{post.publisher}}</p>
                    <p><span>زمان انتشار: </span>{{post.p_date|date:'Y/m/d'}}</p>
                    <p><span>بازدید کننده: </span>{{post.c_view}}</p>
                </div>
            </div>
            <div class="status">
                <img src="{% static '1571774856481.jpg' %}" alt="Pic" id="pic">
                <h1>{{post.title}}</h1>
                <p>
                    {{post.disc}}
                </p>
                <div class="comments">
                    {% for c in comments %}
                    {% if c.about.id == post.id %}
                    <div class="p-comment">
                        <div class="app">
                            <div><img src="{% static 'images2.jpg' %}" alt="Pro" id="pro"></div>
                            <div>
                                <h3> {{c.uname}}-{{c.p_date}} </h3>
                            </div>
                        </div>
                        <div class="discription">{{c.comment}}</div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                
            </div>
        </div>
    </div>
    <div class="ref"></div>
</body>

</html>